body{
    width: 100%;
}

.recipes-page{
    width: 100%;
}

input {
    flex: 1; /* Поле ввода занимает всё доступное пространство */
    padding: 0.75rem; /* Внутренние отступы */
    border: 1px solid #ccc; /* Цвет и ширина рамки */
    border-radius: 4px; /* Скруглённые углы */
    font-size: 1rem; /* Размер текста */
    color: #4a3b35; /* Цвет текста */
  }