@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');

.header {
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 0.5rem; 
    padding: 1rem; 
    background-color: #fbf5f5; /* Фон заголовка */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
    border-radius: 8px; /* Скругленные углы */
    margin: 1.5rem; /* Отступ снизу */
  }
  
  .header input {
    flex: 1; /* Поле ввода занимает всё доступное пространство */
    padding: 0.75rem; /* Внутренние отступы */
    border: 1px solid #ccc; /* Цвет и ширина рамки */
    border-radius: 4px; /* Скруглённые углы */
    font-size: 1rem; /* Размер текста */
    color: #4a3b35; /* Цвет текста */
  }
  
  .header input::placeholder {
    color: #aaa; /* Цвет плейсхолдера */
  }
  
  .header button {
    width: 200px;
    background-color: #764130; /* Основной цвет кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    border-radius: 4px; /* Скругленные углы */
    padding: 0.75rem 1rem; /* Отступы внутри кнопки */
    font-size: 1.2rem; /* Размер текста */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход фона */
    border: 1px solid #764130;
  }
  
  .header button:hover {
    background-color: #fff;
    color: #764130;
    border: 1px solid #764130;
  }
  