.recipe-cards {
  display: flex;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
  width: 800px;
}

.recipe-cards:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-cards__content {
  display: flex; /* Используем flex для расположения изображения и текста в строку */
  align-items: center; /* Центрируем элементы по вертикали */
  flex: 1;
  width: fit-content;
}

.recipe-cards__image {
  height: 150px;
  border-radius: 10px;
  width: auto;
  object-fit: cover;
  margin-right: 15px; /* Отступ между картинкой и текстом */
}

.recipe-cards__text {
  flex: 1; /* Текст займет оставшееся пространство */
}

.recipe-cards__title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 5px;
}

.recipe-cards__description {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}

.recipe-cards__favorite-button {
  font-size: 2rem;
  padding: 0;
  width: fit-content;
  color: #ffcc00;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  transition: transform 0.2s ease;
}

.recipe-cards__favorite-button:hover {
  transform: scale(1.2);
}

.recipe-cards__favorite-button:focus {
  outline: none;
}